{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom pb-2 mb-4">Sign In</legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign In</button>
            </div>
        </form>
        <div class="border-top pt-2">
            <small class="text-muted">
                you have no account ? <a class="ml-2" href="{% url 'signUp' %}">Sign Un</a>
            </small>
        </div>
    </div>
{% endblock content %}